absl-py==2.2.2
aiofiles==24.1.0
annotated-types==0.7.0
anyio==4.9.0
argbind==0.3.9
asttokens==3.0.0
audioop-lts==0.2.1
audioread==3.0.1
beautifulsoup4==4.13.5
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.0
colorama==0.4.6
comm==0.2.3
contourpy==1.3.2
cycler==0.12.1
debugpy==1.8.17
decorator==5.2.1
descript-audio-codec==1.0.0
descript-audiotools==0.7.2
docstring_parser==0.16
einops==0.8.1
executing==2.2.0
fastapi==0.115.12
ffmpy==0.5.0
filelock==3.18.0
fire==0.7.0
flatten-dict==0.4.2
fonttools==4.58.0
fsspec==2025.3.2
future==1.0.0
gradio==5.29.0
gradio_client==1.10.0
greenlet==3.2.4
groovy==0.1.2
grpcio==1.71.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.31.1
idna==3.10
importlib_resources==6.5.2
ipykernel==6.30.1
ipython==9.2.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.1
julius==0.2.7
jupyter_client==8.6.3
jupyter_core==5.8.1
kiwisolver==1.4.8
lazy_loader==0.4
librosa==0.11.0
llvmlite==0.44.0
Markdown==3.8
markdown-it-py==3.0.0
markdown2==2.5.3
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
MetaTrader5==5.0.5120
mpmath==1.3.0
msgpack==1.1.0
nari-tts @ git+https://github.com/nari-labs/dia.git@92206cfb33fbb599166c134d20d247b3c6bd5919
nest-asyncio==1.6.0
networkx==3.4.2
numba==0.61.2
numpy==2.3.0
opencv-python==4.11.0.86
orjson==3.10.18
packaging==25.0
pandas==2.3.0
parso==0.8.4
pillow==11.2.1
platformdirs==4.3.8
pooch==1.8.2
prompt_toolkit==3.0.51
protobuf==3.19.6
psutil==7.1.0
psycopg2==2.9.10
pure_eval==0.2.3
pycparser==2.22
pydantic==2.11.4
pydantic_core==2.33.2
pydub==0.25.1
Pygments==2.19.1
pyloudnorm==0.1.1
pyparsing==3.2.3
pystoi==0.4.1
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytz==2025.2
pywin32==311
PyYAML==6.0.2
pyzmq==27.1.0
randomname==0.2.1
requests==2.32.3
rich==14.0.0
ruff==0.11.9
safehttpx==0.1.6
safetensors==0.5.3
scikit-learn==1.7.0
scipy==1.15.3
semantic-version==2.10.0
setuptools==80.4.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
soundfile==0.13.1
soupsieve==2.8
soxr==0.5.0.post1
SQLAlchemy==2.0.44
stack-data==0.6.3
standard-aifc==3.13.0
standard-chunk==3.13.0
standard-sunau==3.13.0
starlette==0.46.2
sympy==1.13.1
ta==0.11.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
termcolor==3.1.0
threadpoolctl==3.6.0
tomlkit==0.13.2
torch==2.6.0
torch-stoi==0.2.3
torchaudio==2.6.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
triton-windows==3.2.0.post18
typer==0.15.3
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
uvicorn==0.34.2
wcwidth==0.2.13
websockets==15.0.1
Werkzeug==3.1.3
yt-dlp==2025.3.25
